name: 'build-test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

env:
  kvMap: |
    [
      {"preffix-dev-var1":"var1"},
      {"preffix-dev-var2":"var2"}
    ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check new dependencies
        uses: actions/dependency-review-action@v4
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
      - run: |
          npm install
      - run: |
          npm run all

      - name: Publish Unit Test Results
        if: github.actor != 'dependabot[bot]' && always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: 'reports/**/junit.xml'

      - uses: danhunsaker/clover-reporter-action@v0.2.18
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          clover-file: ./coverage/clover.xml

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: kvMapper
        with:
          map: ${{ env.kvMap }}
          operation: keys
      - run: echo '${{ steps.kvMapper.outputs.keys }}'
